* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.365);
}

button {
	margin: 8px;
	border-color: #000000;
	border-radius: 15px;
	font-size: 28;
}

#lock {
	text-decoration-color: #ffffff;
    color: #FF5757;
	background-color: #000000;
	border-style: solid;
	border-width: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

#logout {
	text-decoration-color: #FFFFFF;
    color: #54ACE3;
	background-color: #000000;
	border-style: solid;
	border-width: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;

}

#suspend {
	text-decoration-color: #FFFFFF;
    color: #FFC03A;
	background-color: #000000;
	border-style: solid;
	border-width: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

#hibernate {
	text-decoration-color: #FFFFFF;
    color: #42DD82;
	background-color: #000000;
	border-style: solid;
	border-width: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

#shutdown {
	text-decoration-color: #FFFFFF;
    color: #ffffff;
	background-color: #000000;
	border-style: solid;
	border-width: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

#reboot {
	text-decoration-color: #FFFFFF;
    color: #AF79DC;
	background-color: #000000;
	border-style: solid;
	border-width: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

#lock:focus, #lock:active, #lock:hover {
	background-color: #FF5757;
	color: #000000;
	outline-style: none;
}
#logout:focus, #logout:active, #logout:hover {
	background-color: #54ACE3;
	color: #000000;
	outline-style: none;
}
#suspend:focus, #suspend:active, #suspend:hover {
	background-color: #FFC03A;
	color: #000000;
	outline-style: none;
}
#hibernate:focus, #hibernate:active, #hibernate:hover {
	background-color: #42DD82;
	color: #000000;
	outline-style: none;
}
#shutdown:focus, #shutdown:active, #shutdown:hover {
	background-color: #FFFFFF;
	color: #000000;
	outline-style: none;
}

#reboot:focus, #reboot:active, #reboot:hover {
	background-color: #AF79DC;
	color: #000000;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
